/*REGOLE PRINCIPALI*/

 	* {
 	margin: 0;
 	padding:0;
 	box-sizing: border-box;
 	font-size: $defaultBaseFontSize;
  font-family: $defaultFont;
 }

 a, a:hover {
   text-decoration:none;
 }


/*REGOLE PRINCIPALI ---> containers*/

%containerBaseRules {
  display: block;
}

 #main_container {
 	max-width: 100vw;
 	height: 100vh;
 	overflow: auto;
}

#page_content {
  margin-top: $pageContainerTopMargin;
}


 /*REGOLE PRINCIPALI ---> fontSize Media Queries*/

 @media all and (max-width: 1149px) {

 	* {
 		font-size: $tabletBaseFontSize;
 	}

 }

 @media all and (max-width: 768px) {

  * {
	 font-size: $mobileBaseFontSize;
  }

}
