//CONTAINER
$defaultPadding: 25px;

//TEXT
$defaultFont: 'Montserrat', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

$defaultBaseFontSize: 14px;
$tabletBaseFontSize: 12px;
$mobileBaseFontSize: 10px;

$regularBaseFontSize: 1rem;
$smallerFontSize: 0.8rem;
$extraSmallFontSize: 0.6rem;
$biggerFontSize: 1.3rem;
$xlFontSize: 1.6rem;
$doubleRemFontSize: 2rem;

$bolderFont: 600;
$boldestFont: 800;

//POSTS
$pageContainerTopMargin: 40px;
